body {
    background-color: whitesmoke;
    font-family: Helvetica;
}

section {
    display: block;
    text-align: center;
    margin: auto;
    width: 60%;
    min-height: 424px;
    height: auto;
    color: white;
}

figure {
    display: inline;
    margin: 0;
    padding: 0;
}

/*=========== BIENVENIDA ==============*/

#welcome {
    background-color: white;
}

.foto {
    width: 100%;
    height: 100%;
}

.contenedor {
    position: relative;
    height: inherit;
}

.bloque {
    position: absolute;
    top: 1px;
    left: 48%;
    color: white;
    font-size: 25px;
}

/*=========== SOBRE MI ==============*/

#about {
    background-color: #7299FE;
}

h2 {
    margin-top: 0;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 41px;
}

.txtblq {
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
}

.button {
    display: block;
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    align-content: center;
    padding: 0;
    margin: auto;
    text-decoration: none;
    width: 187px;
    height: 62px;
    background: #D16FFF;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}

/*=========== SKILLS ==============*/

#skills {
    background-color: #9122FF;
    ;
}

/*=========== PORTAFOLIO ==============*/

#portafolio {
    background-color: #FFD233;
}

.imagenes {
    margin: 0;
    padding: 0;
    display: inline;
}

/*=========== CONTACTO ==============*/
#clientes {
    min-height: 300px;
    background-color: #3F4E62;
}

#contact {
    background-color: #1687A0;
}

select, input, textarea {
    margin: 8px 0;
    box-sizing: border-box;
    width: 100%;
    padding: 16px 20px;
    border: 10px;
    border-radius: 6px;
    background-color: #f1f1f1;
}

input {
    width: 40%;
    height: 59px;
    margin-bottom: 10px;
}

textarea{
    width: 80%;
}

input:invalid {
    outline-color: red;
    border-color: red;
    color: red;
    opacity: 80%;
}

input:valid {
    outline-color: green;
    border-color: green;
}
input[required] {
    background-color: white;
}

input:focus {
    background-color: yellow;
    width: 40%;
  }

p {
    margin: 0px;
    padding: 0px;
    font-size: smaller;
}

.ContactEnviar{
    margin: 8px 0;
    box-sizing: border-box;
    width: 30%;
    padding: 16px 20px;
    border: 10px;
    border-radius: 6px;
    color: white;
    background-color: #233451;
}